
header h1{
    font-family: 'Lobster', cursive;
    font-size: 6em;
    color: white;
    text-shadow: 4px 4px black;
}

.container{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-size: 2em;
}
div #coffees{
    background: red;
}

body{
background-image: url("img/cofeebackground.jpg");
    background-repeat: no-repeat;
}