
header h1{
    font-family: 'Lobster', cursive;
    font-size: 6em;
    color: white;
    text-shadow: 4px 4px black;
    background-image: url("img/coffeHeader.jpg");
    background-size: contain;
}

.container{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-size: 1.5em;
}

